# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.h

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/shellcode/*
# Go workspace file
go.work
*.log

# idea files
/.idea/

# Private
/priv/